.picker {
  position: absolute !important;
  left: 50px;
  top: 30%;
  width: 90px !important;
  height: 90px !important;
  z-index: 10;
}
h2 {
  position: absolute;
  left: 150px;
  top: 30%;
  text-transform: uppercase;
  z-index: 10;
}
.title {
  text-align: center;
  padding: 0 10px;
  font-weight: 400;
}
